{% extends 'templates/admins/nav/default.html.twig' %}

{% block title %}Propriétés{% endblock %}

{% block section_title %}Créer une Propriété{% endblock %}

{% block content %}
    <h2><a href="/admin/properties/"><button class="btn btn-secondary">Retourner aux Propriétés</button></a></h2>
    <div class="container">
        <form action="" method="POST">
            {% include 'templates/input.twig' with {
                input_name: 'name',
                input_type: 'text',
                input_placeholder: 'Nouveau Nom',
                input_id: 'name',
            } %}

            <div class="d-flex justify-content-center">
                <button class="btn btn-primary mt-4" name="submit">Créer</button>
            </div>

        </form>

        {% if errors %}
            <ul class="alert alert-danger mt-4 px-5">
                {% for error in errors %}
                    <li>
                        <span class="text-danger">
                            {{ error }}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock %}
