/**
  * IDE: PhpStorm
  * Project: watchphilia
  * User: allistair
  * Year: 2023
*/

$font_sans: 'Overpass';
$font_weight: 400;
$font_style: normal;
$font_size: 14px;

// Text Variables
$text_transform: none;
$text_decoration: none;

// Line Variables
$line_height: 1.2;

// Default Colors Variables
$primary-90: #003D87;
$primary-60: #0F62FE;
$primary-30: #A6C8FF;
$white: #ffffff;
$error: #DA1E28;
$warning: #DA1E;
$success: #25A249;
$overlay: rgba(18, 22, 25, 0.75);

$coolGray-10: #f2f4f8;
$coolGray-20: #dde1e6;
$coolGray-30: #c1c7cd;
$coolGray-40: #a2a9b0;
$coolGray-50: #878d96;
$coolGray-60: #697077;
$coolGray-70: #4d5358;
$coolGray-80: #343a3f;
$coolGray-90: #21272a;
$coolGray-100: #121619;

// Default Heading Variables
$h1: 54px;
$h2: 42px;
$h3: 32px;
$h4: 24px;
$h5: 20px;
$h6: 18px;
