<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Watchphilia {% block title %}{% endblock %}</title>

    <!-- ====== Link Main CSS File ====== -->
    <link rel="stylesheet" href="application.css">

    <meta name="description" content="Discover a timeless collection of exquisite watches that combine style and precision, perfect for any occasion.">
    <meta name="keywords" content="watches, timepieces, luxury watches, precision watches">

    <!-- ====== Link FontAwesome Lib ====== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    {% block body %}
    {% endblock %}

    <!-- ====== Link Main JS File ====== -->
    <script src="javascripts/main.js"></script>
</body>
</html>